<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
</head>
<body>
    <form>
        <lable>Đăng ký tài khoản</label>
        <br>
        <label>Tên đầy đủ</label>
        <input type="text" name ='newHoTen' value="">
        <br>
        <label>Email</label>
        <input type="text" name ='newEmail' value="">
        <br>
        <label>Tên đăng nhập</label>
        <input type="text" name="newUsername" value="">
        <br>
        <label>Mật khẩu</label>
        <input type="password" name="newPassword" value="">
        <br>
        <input type="submit" name="submit" name="">     
    </form>
</body>
</html>